
body {
  	background-color: #ffefcc;
  	position:absolute;
}

/*#welcome {
	font-size: 35px;
    text-shadow: 1px 1px 6px;
    -webkit-animation-name: change;
      -webkit-animation-duration: 5s;
      animation-name: change;
      animation-duration: 5s;
      height: 100%;
}

@-webkit-keyframes change {
  20%, 0% {transform:translate3d(0,100%,0);
  }*/
  
 #menu {
 	width:100%;
 list-style-type: none;
  padding: 0px;
 }
  
.menu-button{
	display: inline-block;
  background:transparent;
  cursor: pointer;
  width: 100%;
	font-weight: bold;
}

.menu-button:hover {
	background:transparent;
}


li {
	width: 25%;
	float: left;
	height: 30px;
	border:black;
}

#img-nav {
	width:100%;
	height: initial;
	margin:0px;
}

article {
	float:left;
	width:75%;
}

aside {
	float:right;
	width:25%;
	text-align: center;
	padding-bottom: 100px;
}



#footer { 
    text-align: center;
}

p { 
	font-size: 15px;
	font-family:Times;
	font-weight:normal;
  }
  
  /*this is a fix for some bug*/
  /* only on fix branch



